/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/
$peach: #ffc6b5;
$lavender: #ccb6fc;
$sky: #b6d8fc;
$red: #f1563e;
$navy: #3e4786;
$teal: #61cabb;
$black: #212121;
$steel: #707070;
$white: #fff;

// Font families
$sans: 'Roboto', sans-serif;