/*----------------------------------------------------------------------------
  Buttons
----------------------------------------------------------------------------*/
.buttons {
  width: calc(100% + 10px);
  margin-left: rem(-5);
}

.button {
  &--teal {
    @include buttons($teal, $teal, $white);
  }

  &--red {
    @include buttons($red, $red, $white);
  }

  &--navy {
    @include buttons($navy, $navy, $white);
  }

  &--white {
    @include buttons($white, $white, $navy);
  }

  &--white-ghost {
    @include buttons($black, $white, $black);
  }

  &[disabled] {
    border-color: #d0d0d0;
    background-color: #d0d0d0;
    color: $steel;
    transform: none !important;
    cursor: not-allowed;
  }
}