/*------------------------------------------------------------------------------
  Footer
------------------------------------------------------------------------------*/
.site-footer {
  @include iPhoneNotch;
  background-color: $navy;

  .container {
    padding: rem(60) 0 rem(40);
  }

  h6, p {
    color: $white;
  }

  .small-text {
    line-height: 1.43;
  }
}

.factor1 {
  font-weight: 700;
  font-family: 'Helvetica', sans-serif;
  letter-spacing: -.1em;
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $teal;
  }
}

// Media Queries 
@media screen and (max-width: $small-breakpoint) {
  .site-footer .container {
    padding: rem(40) 0 rem(10);
  }
}