/*------------------------------------------------------------------------------
  Nav Menus
------------------------------------------------------------------------------*/
// General nav styles
nav {
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    position: relative;
    margin: 0;
    padding: 0;
  }

  a {
    display: block;
    width: 100%;
  }
}

// Common header menu styles
.nav--primary,
.nav--mobile {
  ul {
    flex-wrap: wrap;
  }

  a {
    font: normal 700 rem(18)/1.2 $sans;
    letter-spacing: -0.01em;
    color: $black;

    &:focus,
    &:hover {
      color: $teal;
    }
  }

  .nav-button {
    a {
      padding: rem(8) rem(20);
      border-radius: rem(100);
      font: 700 rem(18)/1 $sans;
      letter-spacing: 0.02em;
      text-align: center;
      text-decoration: none;
      outline: none;
      -webkit-appearance: none;
      transition: all .4s ease;

      &:focus,
      &:hover {
        transform: translateY(-5px);
      }
    }

    &.teal a {
      border: rem(1) solid $teal;
      background-color: $teal;
      color: $white;
    }

    &.red a {
      border: rem(1) solid $red;
      background-color: $red;
      color: $white;
    }

    &.navy a {
      border: rem(1) solid $navy;
      background-color: $navy;
      color: $white;
    }
  }

  .current_page_parent:not(.menu-item-home):not(.menu-item-object-page) > a,
  .current-menu-item:not(.menu-item-home) > a {
    color: $teal;
  }
}

// Primary menu 
.nav--primary {
  position: relative;
  right: rem(-10);

  ul {
    justify-content: flex-end;
    align-items: center;
  }

  li {
    padding: 0 rem(5);
  }

  a {
    padding: rem(5) rem(10);
  }

  .menu-item-has-children {
    // &:after {
    //   position: absolute;
    //   top: rem(-8);
    //   bottom: 0;
    //   right: 0;
    //   margin: auto;
    //   height: rem(22);
    //   display: inline-block;
    //   font-style: normal;
    //   font-variant: normal;
    //   text-rendering: auto;
    //   -webkit-font-smoothing: antialiased;
    //   content: '\f107';
    //   font-family: 'Font Awesome 5 Pro';
    //   font-weight: 400;
    //   color: $black;
    //   transition: all .4s ease;
    //   pointer-events: none;
    // }

    &:focus,
    &:hover {
      // &:after {
      //   color: $teal;
      // }

      .sub-menu {
        display: block;
      }
    }
  }

  .sub-menu {
    display: none;
    position: absolute;
    // right: rem(-10);
    right: 0;
    top: calc(100% - 20px);
    flex-wrap: wrap;
    width: 150%;
    min-width: rem(250);
    margin-top: rem(20);
    padding: rem(10) 0;
    border-radius: rem(5);
    background-color: $teal;

    > li + li {
      border-top: rem(1) solid rgba($teal, 0.4);
    }

    li {
      flex: 0 1 100%;

      &.current-menu-item a {
        color: $navy;
      }
    }

    a {
      padding: rem(15) rem(30);

      &:focus,
      &:hover {
        background-color: $white;
        color: $teal;
      }
    }

    // Tooltip arrow 
    &:before {
      content: '';
      position: absolute;
      bottom: 100%;
      right: rem(10);
      border-width: rem(5);
      border-style: solid;
      border-color: transparent transparent $teal transparent;
    }
  }
}

// Mobile nav
.nav--mobile {
  display: none;
  height: 100vh;
  padding-bottom: rem(100);
  overflow-y: scroll;
  padding: rem(30);

  ul {
    justify-content: center;
  }

  li {
    flex: 0 1 100%;
    text-align: left;
  }

  a {
    padding: rem(15) rem(10);
    font-size: rem(30);
  }

  .nav-button {
    margin-top: rem(15);
    margin-bottom: rem(15);

    a {
      display: inline-block;
      width: auto;
      font-size: rem(30);
    }
  }

  // .menu-item-has-children > a {
    // &:after {
    //   position: relative;
    //   top: rem(2);
    //   right: rem(-5);
    //   display: inline-block;
    //   font-style: normal;
    //   font-variant: normal;
    //   text-rendering: auto;
    //   -webkit-font-smoothing: antialiased;
    //   content: '\f107';
    //   font-family: 'Font Awesome 5 Pro';
    //   font-weight: 400;
    //   color: $black;
    //   transition: all .4s ease;
    //   pointer-events: none;
    // }
    // 
    // &:focus,
    // &:hover {
    //   &:after {
    //     color: $teal;
    //   }
    // }
  // }

  .sub-menu {
    display: none;
    flex-wrap: wrap;
    width: 100%;
    padding: rem(20) 0;

    li {
      flex: 0 1 100%;
    }

    a {
      padding: rem(10) rem(30);
      font-weight: 400;
      font-size: rem(18);
    }
  }
}

// Footer nav 
.nav--footer {
  position: relative;
  right: rem(-10);
  margin-bottom: rem(80);

  ul {
    flex-wrap: wrap;
  }

  a {
    color: $white;

    &:focus,
    &:hover {
      color: $teal;
    }
  }

  > ul {
    justify-content: flex-end;
    
    > li {
      flex: 0 1 auto;
      max-width: rem(140);
      padding: 0 rem(12);
  
      > a {
        padding: 0 0 rem(5);
        font: 700 rem(18)/1.2 $sans;
        letter-spacing: -0.01em;
      }
    }
  }

  .nav-button {
    flex: 0 1 auto;
    margin-top: rem(-5);
    padding: 0 rem(5);

    a {
      width: auto;
      padding: rem(8) rem(20);
      border-radius: rem(100);
      font: 700 rem(18)/1 $sans;
      letter-spacing: 0.02em;
      text-align: center;
      text-decoration: none;
      outline: none;
      -webkit-appearance: none;
      transition: all .4s ease;

      &:focus,
      &:hover {
        transform: translateY(-5px);
      }
    }

    &.teal a {
      border: rem(1) solid $teal;
      background-color: $teal;
      color: $white;
    }

    &.red a {
      border: rem(1) solid $red;
      background-color: $red;
      color: $white;
    }

    &.navy a {
      border: rem(1) solid $navy;
      background-color: $navy;
      color: $white;
    }
  }

  .sub-menu {
    li {
      flex: 0 1 100%;
    }

    a {
      padding: rem(6) 0;
      font: 300 rem(16)/1.19 $sans;
      letter-spacing: -0.01em;
    }
  }
}

// Media Queries 
@media screen and (max-width: $small-breakpoint) {
  .nav--footer {
    right: 0;
    margin-bottom: rem(40);

    > ul {
      justify-content: center;

      > li {
        flex: 0 1 100%;
        max-width: 100%;
        padding: rem(10);
        text-align: center;
      }
    }

    .nav-button {
      margin-top: rem(10);
      margin-bottom: rem(10);
    }
  }
}