/*----------------------------------------------------------------------------
  Pagination
----------------------------------------------------------------------------*/
.pagination {
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-numbers {
    width: auto;
    margin: rem(5);
    padding: rem(8) rem(15);
    font-size: rem(24);
    text-decoration: none;
  }

  .prev,
  .next {
    display: inline-block;
    width: auto;
    border-radius: 0;
    height: auto;

    i {
      color: $red;
      transition: all .4s ease;
    }
  }

  a.page-numbers,
  .prev,
  .next {
    &:focus,
    &:hover {
      i {
        color: $teal;
      }
    }
  }
}