// Sugar Mixins - mixins to make your styles a little sweeter.

// rem size calc - converts pixel value to rem
// Usage: `font-size: rem(24);`
@function rem($size) {
  $remSize: $size/16;
  @return #{$remSize}rem;
}

// aspect ratio mixin
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
}

// Buttons 
@mixin buttons($border, $bg, $color) {
  display: inline-block;
  margin: rem(5);
  padding: rem(15) rem(40);
  border: rem(1) solid $border;
  border-radius: rem(100);
  background-color: $bg;
  font: 700 rem(20)/1 $sans;
  letter-spacing: 0.02em;
  color: $color;
  text-align: center;
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
  transition: all .4s ease;

  &:focus,
  &:hover {
    transform: translateY(-5px);
  }

  @media screen and (max-width: $small-breakpoint) {
    padding: rem(15) rem(30);
    font-size: rem(18);
  }
}

@mixin iPhoneNotch() {
  padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
}
