/*------------------------------------------------------------------------------
  Global Styles
------------------------------------------------------------------------------*/
/* Set box sizing to elimate math in the padding */
* {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  box-sizing         : border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  border: 0;
  overflow-x: hidden;

  &.locked {
    overflow-y: hidden;
  }
}

html,
html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
  font: normal 400 rem(18)/2 $sans;
  color: $steel;
  min-height: 100%;

  &:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9998;
    transition: all .4s ease;
  }

  &.masked:after {
    background: rgba(255, 255, 255, 0.9);
    pointer-events: auto;
  }
}

// Hide empty paragraphs
p:empty{
  display: none !important;
}

// Tables
table {
  margin: 0 0 18px;
}

/* keep images from spilling out of columns */
img{
  max-width: 100%;
  height: auto;
}

// Flex Video Based on Zurb's Foundation Framework
.flex-video {
  position: relative;
  height: 0;
  padding-top: 0;
  padding-bottom: 56.25%;
  margin-bottom: 1rem;
  overflow: hidden;
  iframe, object, embed, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: calc(100% + 10px);
  margin-left: rem(-5);

  figure {
    margin: rem(5);
  }
}