/**
 * Hero (Global)
 * 
 * @package F1 Mission Bit 
 * @author Factor1 Studios
 * @since 0.0.1
 */

.hero {
  position: relative;
  @include iPhoneNotch;
  background-color: $navy;
  overflow: hidden;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
  }

  .container {
    padding: calc(100px + 15%) 0 20%;
  }

  .buttons {
    margin-bottom: rem(40);
  }

  &__scroll {
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    z-index: 50;
  }

  &__button {
    border: none;
    background-color: transparent;
    appearance: none;
    outline-color: $teal;
    font-size: rem(42);
    color: $white;
    transition: color .4s ease;
    animation: bounce 2s infinite;

    &:focus,
    &:hover {
      color: $teal;
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 12%;
    background: url('../img/wave.svg') left top/cover no-repeat;
  }
}

// Media Queries 
@media screen and (max-width: $medium-breakpoint) {
  .hero__scroll {
    bottom: 15%;
  }
}

@media screen and (max-width: $small-breakpoint) {
  .hero {
    .container {
      padding: calc(75px + 20%) 0 13%;
    }

    &__scroll {
      bottom: 7%;
    }

    &:after {
      padding-bottom: 10%;
    }
  }
}